<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="5.5"/>
  <arg name="y_pos" default="5.5"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="yaw_pos" default="0.0"/>

  <!--node name="rgbd_odometry" pkg="rtabmap_ros" type="rgbd_odometry" output="screen">
    <param name="frame_id"            type="string" value="base_footprint"/>
    <remap from="rgb/image"         to="/camera/rgb/image_raw"/>
    <remap from="depth/image"       to="/camera/depth/image_raw"/>
    <remap from="rgb/camera_info"   to="/camera/rgb/camera_info"/>
  </node-->

  <!--include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include-->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find slam_dataset_gazebo)/resources/worlds/slam_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find slam_dataset_gazebo)/launch/turtlebot3/slam_$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"
    args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw_pos) -param robot_description" />

  <include file="$(find slam_dataset_gazebo)/launch/turtlebot3/turtlebot3_gazebo_rviz.launch"></include>

  <!--include file="$(find slam_dataset_gazebo)/launch/turtlebot3/turtlebot3_slam.launch"></include-->
</launch>
